<h1>This is a new habit page</h1>
<a class="button" href="/profile">go back</a>
<h2>Add your new Habit</h2>

<div class="habit-container">
    <form class="create-form" action="/profile/create-habit" method="POST">

        {{!-- Title --}}
        <div>
            <label for="">
                <h4>Title:</h4>
                <input type="text" name="title" placeholder="Drink 2L of water everyday">
            </label>
        </div>

        {{!-- Category --}}
        <div>
            <label class="radio-button" for="">
                <h4>Category</h4>
                <div class="input-options">
                    <input id="categoryhealth" type="radio" name="category" value="Health">
                    <label for="categoryhealth">Health</label>

                    <input id="categorysport" type="radio" name="category" value="Sport">
                    <label for="categorysport">Sport</label>

                    <input id="categoryroutine" type="radio" name="category" value="Daily Routine">
                    <label for="categoryroutine">Daily Routine</label>

                    <input id="categorywork" type="radio" name="category" value="Work">
                    <label for="categorywork">Work</label>

                    <input id="categoryart" type="radio" name="category" value="Art">
                    <label for="categoryart">Art</label>
                </div>
            </label>
        </div>

        {{!-- Duration --}}
        <div>
            <label class="radio-button" for="">
                <h4>Duration</h4>
                <div class="input-options">
                    <input id="duration7days" type="radio" name="duration" value="7 days">
                    <label for="duration7days">7 days</label>

                    <input id="duration14days" type="radio" name="duration" value="14 days">
                    <label for="duration14days">14 days</label>

                    <input id="duration21days" type="radio" name="duration" value="21 days">
                    <label for="duration21days">21 days</label>
                </div>
            </label>
        </div>

        {{!-- Description --}}
        <div>
            <label for="">
                <h4>Description:</h4>
                <input type="text" name="description">
            </label>
        </div>

        {{!-- <a class="button" onclick="chooseDuration()" href="/profile" type="submit">Create New Habit</a> --}}
        <button class="button create-button" type="submit" onclick="chooseCategory(), chooseDuration()">Create New Habit</button>
    
    </form>
</div>

<script type="text/javascript" src="/js/script.js"></script>