<h1>this is our Habitboard ♟</h1>
<br>
<h2>Here goes an image carousel</h2>
<p>images from carousel must have motivational phrases</p>
<br>
<h2>Here goes a button to <a href="#">create a new habbit</a></h2>
<br>
<h2>Down here goes the habits</h2>
<br>
<h4>habit</h4>
<h4>habit</h4>
<h4>habit</h4>
<h4>habit</h4>
<h4>habit</h4>
<h4>habit</h4>