<h1>this is our Habitboard ♟</h1>
<br>
<h2>Here goes an image carousel</h2>
<p>images from carousel must have motivational phrases</p>
<br>
<h2>Here goes a button to <a href="/profile/create-habit">create a new habbit</a></h2>
<br>
<h2>Down here goes the habits</h2>
<div class="habit-list">
    <div class="habit-item">
        <div class="left-side">
            <h3>Habit Name</h3>
            <h6>Category icon</h6>
            <h6>Description</h6>
        </div>
        <div class="right-side">
            <div class="tracking">
                <div class="week">
                    <p>Week 1</p>
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                </div>
                <div class="week">
                    <p>Week 2</p>
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                </div>
                <div class="week">
                    <p>Week 3</p>
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>