<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500&family=Open+Sans&display=swap" rel="stylesheet">


<div class="bg-container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <h6>Succesful People are simply those with successful habits.</h6>
                <p>Brian Tracy</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h6>We are what we repeatedly do. Excellence then, is not an act but a habit.</h6>
                <p>Aristotle</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h6>The second half of a man's life is made up of nothing but the habits he has acquired during the
                    first half.</h6>
                <p>Feodor Dostoevski</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h6>Watch your actions, they become your habits. Watch your habits, they become your character.</h6>
                <p>Vince Lombardi</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h6>Men's natures are alike; it is their habits that separate them.</h6>
                <p>Confucius</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h6>The hard must become habit. The habit must become easy. The easy must become beautiful.</h6>
                <p>Doug Henning</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h6>Success is the sum of small efforts repeated day in day out.</h6>
                <p>Robert Collier</p>
            </div>
        </div>
    </div>
</div>