body {
  background-image: url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.anchor {
  letter-spacing: 1px;
    background-color: rgb(41,58,115);
    color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding: 8px 18px;
    /* margin: 0 15px; */ 
    font-weight: 600;

    text-decoration: none;
    text-transform: uppercase;
}

.anchor:hover {
  transition: 0.2s ease-in-out;
background-color: green;
border: 1px solid #333;
color: white;
box-shadow: 0 0 10px #333;
cursor: pointer;
}

/* a {
  color: #00b7ff;
} */

/* h1 {
  color: 15px;
} */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 420px;
  position: relative;
  border: solid 1px black;
  border-radius: 10px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
form label {
  width: 100%;
  font-size: 1rem;
}
 
form input {
  margin-top: 10px;
}

form input,
form button {
  font-size: 1rem;
  padding: 4px;
  width: 100%;
  margin-bottom: 25px;
}

form button {
  background: #00d3f3;
  border: 1px solid #2745de;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 7px;
  width: 50%;
  margin-left: 200px;
}
 
form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.navbar-container {
  background: linear-gradient(to right, rgb(183,68,30),rgb(206,93,38));
  border-bottom: 1px black solid;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.habit-item {
  border: 5px black solid;
  background-color: rgba(168, 168, 168, 0.4);

  display: flex;
  align-items: center;
  margin: 0 15px;
  flex-wrap: wrap;
}

.left-side {
  border: 2px solid red;
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 100%;
}

.right-side {
  border: 2px solid green;
  
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 1em;
}

.tracking {
  display: flex;
  align-items: center;
  gap: 0.5em ;
  flex-wrap: wrap;
}

.radio-button {
  display: flex;
  
}