body{
  background-attachment: fixed;
  background-size: cover;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Nunito", sans-serif;
  height: 100vh;
  width: 100vw;
}
/* ==================================================================================== */
/* Layout */

#logo-image {
  width: 80px;
  padding: 5px 0;
}

#layout-title {
  text-decoration: none;
  cursor:auto;
  user-select: none;
}

.anchor {
  letter-spacing: 1px;
  background-color: rgb(41, 58, 115);
  color: white;
  border: 1px black solid;
  border-radius: 10px;
  padding: 8px 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.anchor:hover {
  transition: 0.2s ease-in-out;
  background-color: green;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

/* .navbar-container {
  background: linear-gradient(to right, rgb(183, 68, 30), rgb(206, 93, 38));
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
} */

/* ==================================================================================== */
/* Fixed navbar  */

.fixed-nav-bar {
  position: fixed;
  top: 5;
  left: 0;
  right: 0;
  /* z-index: 9999; */
  width: 100%;
  
  background-color: none;
  /* border-bottom: 2px solid red; */
  font-family: "Nunito", sans-serif;
  color: #f5d9d5;
  font-size: 1.3rem;
  font-weight: 100;   
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */

.menu {
  margin-left: 50vw;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.logo-image {
  margin: 5px 0;
  padding: 0;
  height: 70px;
  justify-content: flex-end;
}

.nav-link:hover,
.nav-link:target {
  color: #b48192;
}

.menu-items {
  list-style-type: none; 
  margin: 8px 0;
}

.nav-item {
  display: inline-block;
  margin: 0 30px;
}

#logout-button {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}



/* ==================================================================================== */
/* Index Page */

.bg-container {
  background: url(../images/diary-bg-2.jpg) 30% no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  height: 100vh;
}

.carousel-inner {
  width: 27vw;
  margin-left: 22vw;
  margin-top: 11vh;
  display: flex;
  text-align: center;
  user-select: none;
}

.carousel-item h6 {
  font-size: 1.75rem;
  font-family: 'Dancing Script', cursive;
}

.carousel-item p {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  padding-top: 15px;
  letter-spacing: 1px;
}

/* ==================================================================================== */
/* HabitBoard */
#profile {
  margin-top: 70px;
}

.welcome {
  text-align: center;
  padding-top: 80px;
  
  background: linear-gradient(to left, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome h2 {
  font-weight: 600;
  margin-right: 60px;
}

.new-habit-button {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.category-image {
  width: 50px;
}

hr {
  border: 5px solid black;
}

.habit-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: .75em;
  margin: 50px 50px;
}

.habit-card {
  margin: 0 10px;
  padding: 10px;
  width: 200px;

  background-color: rgba(154, 149, 149, 0.6);

  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  text-align: center;
}

.habit-card:hover {
  transform: scale(1.10);

  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

span {
  font-style: italic;
}

td {
  border: 2px black solid;
  margin: 0 10px;
}



/* ==================================================================================== */
/* New-Habit */

.habit-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 400px;
  max-width: 30%;

  background: rgba(245, 245, 245, .4);
  border: 2px black solid;
  border-radius: 10px;

  padding: 10px;
  margin: 1.5rem;
}

.input-options {
  display: flex;

}

.create-form input {
  height: 2rem;
  font-size: 1.05rem;
}

.radio-button {
  display: flex;
}



/* 
.auth-form, .create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 80%;
} */

/* ==================================================================================== */
/* General */

.button {
  letter-spacing: 1px;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: 400;
  /* text-transform: uppercase; */
  text-decoration: none;
}

.create-button {
  background-color: rgba(0, 0, 0, .05);
  color: darkgreen;
  border: 2px solid darkgreen;
}

.create-button:hover {
  /* transition: 0.2s ease-in-out; */
  background-color: darkgreen;
  /* border: 1px solid #333; */
  color: white;
  box-shadow: 0 0 3px #333;
  cursor: pointer;
}

.details-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: darkblue;
  border: 2px solid darkblue;
  justify-content: center;
  align-items: center;
}

.details-button:hover {
  transition: 0.2s ease-in-out;
  background-color: blue;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.delete-button {
  background-color: white;
  color: darkred;
  border: 2px solid darkred;
}

.delete-button:hover {
  transition: 0.2s ease-in-out;
  background-color: #951c12;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.go-back {
  background-image: url(../images/icons/left-arrow.png);
  background-size: 25px;
  background-repeat: no-repeat;
  width: 5px;

  align-items: center;
}



/* ======================= */
/* switch buttons for Create-Habit */


.week {
  margin: 25px 50px;
}

/* const day21 = document.querysafwqn

day21.checked = document.queryselector().setAtribute(style.display: block) 
*/


/* ==================================================================================== */
/* Signup Form */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.auth-container {
  background: url(../images/diary-bg-2.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  /* flex-grow: 1; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-contact-box {
/* in px */
  /* width: 350px; */
  /* margin-top: 60px; */
  /* margin-left: 300px; */
/* in % */
  /* width: 26%; */
  /* margin-top: 5%; */
  /* margin-left: 21%; */
/* in vw */
  width: 26vw;
  margin-top: 5vw;
  margin-left: 21vw;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth h2 {
  font-weight: bold;
  font-size: 1.5rem;
}
/* !!! TO DO: font-family doesn't work*/
.auth h6 {
  /* font-family: 'Dancing Script', cursive; */
  font: 12px "Dancing Script", cursive;
}

.auth-form-label {
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 0 0 0 4px;
}

.auth-form-p {
  font-style: none;
  margin-bottom: 8px;
  padding-left: 4px;
  font-size: 12px;
  text-align: center;
}

.auth-field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.958);
  margin: 8px auto 4px;
  padding: 12px;
  font-size: 14px;
}

.auth-field:hover {
  background-color: rgb(255, 255, 255);
}

.auth-btn {
  margin: 12px 0;
}

.auth-field:focus {
  /* border: 2px solid rgba(30, 85, 250, 0.47); */
  border: 2px solid darkgreen;
  background-color: rgb(255, 255, 255);
}

.error {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  background-color: darkred;
  color: rgb(230, 230, 230, 0.958);
  border-radius: 10px;
}

#input-field {
  display: none;
}

/* ==================================================================================== */
/* Auth Forms  */

/* .auth-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 400px;
  position: relative;
  border: solid 1px black;
  border-radius: 10px;
  margin: 0 auto;
  margin-block: 10vh;
  padding: 32px;
  background: rgba(245, 245, 245, .4);
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 80%;
}

.auth-form label {
  width: 100%;
  font-size: 1rem;
}

.auth-form input {
  margin: 8px auto;
  width: 100%;
  padding: 8px;
  font-size: 14px;
} */

