body {
  background-image: url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

/* ==================================================================================== */
/* Layout */

#logo-image {
  width: 80px;
  padding: 5px 0;
}

.anchor {
  letter-spacing: 1px;
  background-color: rgb(41, 58, 115);
  color: white;
  border: 1px black solid;
  border-radius: 10px;
  padding: 8px 18px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.anchor:hover {
  transition: 0.2s ease-in-out;
  background-color: green;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.navbar-container {
  background: linear-gradient(to right, rgb(183, 68, 30), rgb(206, 93, 38));
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

/* ==================================================================================== */
/* Index Page */
.buttons-group-index {
  display: flex;
  justify-content: space-evenly;
}

/* ==================================================================================== */
/* Auth Forms  */

.auth-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 400px;
  position: relative;
  border: solid 1px black;
  border-radius: 10px;
  margin: 0 auto;
  margin-block: 10vh;
  padding: 32px;

  background: rgba(245, 245, 245, .4);
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 80%;
}

.auth-form label {
  width: 100%;
  font-size: 1rem;
}

.auth-form input {
  margin: 8px auto;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

/* TODO change styles */
.error {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: darkred;
  color: wheat;
}

/* ==================================================================================== */
/* HabitBoard */

.category-image {
  width: 50px;
}

hr {
  border: 5px solid black;
}

.habit-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: .75em;
  margin: 50px 50px;
}

.habit-card {
  margin: 0 10px;
  padding: 10px;
  width: 200px;

  background-color: rgba(154, 149, 149, 0.6);

  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  text-align: center;
}

.habit-card:hover {
  transform: scale(1.10);

  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

span {
  font-style: italic;
}

/* ==================================================================================== */
/* New-Habit */

.habit-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 400px;
  max-width: 30%;

  background: rgba(245, 245, 245, .4);
  border: 2px black solid;
  border-radius: 10px;

  padding: 10px;
  margin: 1.5rem;
}

.input-options {
  display: flex;
  
}

.create-form input {
  height: 2rem;
  font-size: 1.05rem;
}

.radio-button {
  display: flex;
}



/* 
.auth-form, .create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 80%;
} */

/* ==================================================================================== */
/* General */

.button {
  letter-spacing: 1px;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.create-button {
  background-color: rgba(0, 0, 0, .05);
  color: darkgreen;
  border: 2px solid darkgreen;
}

.create-button:hover {
  transition: 0.2s ease-in-out;
  background-color: green;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.details-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: darkblue;
  border: 2px solid darkblue;
  justify-content: center;
  align-items: center;
}

.details-button:hover {
  transition: 0.2s ease-in-out;
  background-color: blue;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.delete-button {
  background-color: white;
  color: darkred;
  border: 2px solid darkred;
}

.delete-button:hover {
  transition: 0.2s ease-in-out;
  background-color: #951c12;
  border: 1px solid #333;
  color: white;
  box-shadow: 0 0 10px #333;
  cursor: pointer;
}

.go-back {
  background-image: url(../images/icons/left-arrow.png);
  background-size: 25px;
  background-repeat: no-repeat;
  width: 5px;

  align-items: center;
}

#cell {
  border: 2px black solid;
}

/* ======================= */
/* switch buttons for Create-Habit */


/* .week {
  display: none;
} */

/* const day21 = document.querysafwqn

day21.checked = document.queryselector().setAtribute(style.display: block) 
*/